<div
  class="container text-center"
  style="width: 80%; padding: 50px 0; margin: 0 auto"
>
  <div class="text-uppercase">
    <h5 class="text-danger text-uppercase">client's feedback</h5>
    <div class="font-weight-bold mt-3 mb-5" style="font-size: 35px">
      people say's about us !
    </div>
  </div>
  <div class="d-flex flex-column justify-content-around align-items-center">
    <div
      style="
        width: 57%;
        padding: 20px 0px;
        background-image: url('./images/Quotemarks-left/Quotemarks-left.png');
        background-repeat: no-repeat;
        background-size: 50px 40px;
      "
    >
      Jannat Tumpa The standard chunk of Lorem Ipsum used since the 1500s is
      reproduced below for those interested. Sections Bonorum et Malorum
      original.
    </div>
    <div class="text-uppercase" style="text-align: start">
      <span class="font-weight-bold mt-2 mb-10" style="color: #ff3147">
        JANNAT TUMPA </span
      ><span> - COO, AMERIMAR ENTERPRISES, INC.</span>
    </div>
  </div>
</div>
