<div class="container" style="width: 80%; padding: 50px 0; margin: 0 auto">
  <div class="d-flex justify-content-between">
    <div class="d-flex flex-column justify-content-center" style="width: 53%">
      <h5 class="text-danger text-uppercase">AWARD WINNING</h5>
      <h1 class="font-weight-bold my-4">DIGITAL MARKETING AGENCY</h1>
      <p class="my-4">
        Morbi sed lacus nec risus finibus feugiat et fermentum nibh.
        Pellentesque vitae ante at elit fringilla ac at purus, Morbi sed lacus
        nec risus finibus feugiat et fermentum.
      </p>
      <button
        id="contactButton"
        class="btn btn-danger my-4"
        style="width: fit-content"
        data-toggle="modal"
        data-target="#contactModal"
      >
        CONTACT US
      </button>
    </div>
    <img
      src="./images/hero/hero.png"
      class="img-fluid"
      style="width: 40%; height: 85vh"
      alt="Marketing Agency"
    />
  </div>
</div>
