<div class="container" style="width: 80%; padding: 50px 0; margin: 0 auto">
  <div class="text-center text-uppercase">
    <h5 class="text-danger">OUR PROJECT</h5>
    <div class="font-weight-bold mt-3 mb-5" style="font-size: 35px">
      WHY WE ARE BEST
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <img
      id="projectImage"
      src="images/image/image.png"
      class="img-fluid"
      alt="Project 1"
      style="width: 65%; height: 69vh"
    />
    <div style="width: 33%" id="projects-list"></div>
  </div>
</div>

<script src="js/ourProject/loadProjectListLogic.js"></script>
