<div class="container" style="width: 80%; padding: 50px 0; margin: 0 auto">
  <div style="width: 100%;">
    <h5 class="text-danger text-uppercase">WHAT WE DO</h5>
    <div class="d-flex justify-content-between my-3">
      <div class="font-weight-bold" style="font-size: 35px; width: 40%">
        SERVICES PROVIDE FOR YOU
      </div>
      <p style="width: 55%">
        <br />
        Morbi sed lacus nec risus finibus feugiat et fermentum nibh.
        Pellentesque vitae ante at elit fringilla ac at purus, Morbi sed lacus
        nec risus finibus feugiat et fermentum.
      </p>
    </div>
  </div>
  <div >
    <div class="slider-container">
      <div class="slider" id="imageSlider"></div>
    </div>
    <div class="dots" id="dotsContainer"></div>
  </div>
</div>

<script src="js/whatWeDo/loadImagesLogic.js"></script>

<script src="js/whatWeDo/sliderLogic.js"></script>
